

<figure>


    <a href="/views/pages/book/<%=comicBook._id%>.ejs">
      <img src="/images/<%= comicBook.image %>" alt="Fun Home" class="comic-cover">
    </a>

    <figcaption><em><%= comicBook.title %></em><br />
    by <%= comicBook.author %><br />
    <%= comicBook.rating %> <br>

    <a href="/views/pages/book/<%=comicBook._id%>.ejs">Details</a>
  </figcaption>

  </figure>

<!-- Use EJS to render the data for the image, title, author, rating, and the ids
In order for the links in this single-book.ejs to work, they should start off with ./book/ and then render the id of the comic book. This structure would be the complete relative path.
 -->



  <!-- 
    comicCoverImg
    comicTitle
    comicAuthor
    comicRating
    details?
   -->

   <!-- How to do EJS for details links with an ID -->