<!-- THIS IS FOR COMIC BOOKS APEAPING ON THE INDEX PAGE 
aka ADMIN.ejs-->


<figure>

    <a href="/books/<%=comicBook._id%>">
      <img src="/images/<%= comicBook.image %>" alt="Comic book cover" class="comic-cover">
    </a>

    <figcaption><em><%= comicBook.title %></em><br />
    by <%= comicBook.author %><br />
    <%= comicBook.rating %> <br>

    <a href="/books/<%=comicBook._id%>">Details</a>
  </figcaption>

</figure>

