<!-- THIS IS THE DETAILS PAGE FOR INDIVIDUAL COMIC BOOKS -->

<%- include('../partials/head') -%> 


<%- include('../partials/nav') -%> 


<div class="parent">

  <div class="child1">

    <h2><%= comicBook.title %></h2>

    <img src="/images/<%= comicBook.image %>" alt="<%= comicBook.title %> book cover">    

  </div>

  <div class="child2">

       <h3><span class="cardinfo">Title:</span> <span class="cardtitle"><%= comicBook.title %></span></h3>
  
      <h3><span class="cardinfo">Author:</span> <%= comicBook.author %></h3>

      <h3><span class="cardinfo">Publisher:</span> <%= comicBook.publisher %></h3>

      <h3><span class="cardinfo">Genre:</span> <%= comicBook.genre %></h3>

      <h3><span class="cardinfo">Number of pages:</span> <%= comicBook.pages %></h3>

      <h3><span class="cardinfo">Rating:</span> <%= comicBook.rating %></h3>

      <h3><span class="cardinfo">Synopsis:</span> <%= comicBook.synopsis %></h3>

  </div>



</div>

    
<%- include('../partials/footer') -%> 


